[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
scrapy = "*"
apache-airflow = "*"
psycopg2-binary = "*"
python-dotenv = "*"
pydantic = "*"
pymongo = "*"
pika = "*"
celery = "*"
django = "*"
aiogram = "*"
aiohttp = "*"
djangorestframework = "*"
drf-yasg = "*"
html2text = "*"
openai = "*"
loguru = "*"
redis = "*"
gunicorn = "*"
certifi = "*"
pendulum = "==2.1.2"
django-jsoneditor = "*"
pdfkit = "*"
pillow = "*"
pilmoji = "*"
emoji = "==1.7.0"

[dev-packages]

[requires]
python_version = "3.10"
